* {
    padding: 0;
    margin: 0;
}

body {
    /* background-image: url('@/assets/background/backgroundPic2.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 0.5s;
}

.video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* display: none; */
    transition: 1s;
}

.timeBox {
    font-size: 65px;
    padding: 20px;
    font-weight: bold;
    caret-color: transparent;
    opacity: 0;
}

.navi {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.searchBox {
    background-color: #2f2f2f;
    caret-color: transparent;
    border-radius: 15px;
    position: fixed;
    z-index: 100;
    width: 35vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 79px;
    opacity: 0.7;
    flex-wrap: wrap;
    transition: 0.5s;
    min-width: 250px;
    /* height: 41px; */
}

/* .searchBox:hover {
    opacity: 1;
} */


.searchInput {
    padding: 10px 5px 10px 5px;
    height: 40px;
    flex: 1;
    margin-left: 5px;
    border: 0;
    outline: 0;
    background-color: #2f2f2f;
    caret-color: white;
    color: white;
    font-family: "San Francisco";
    border-radius: 15px;
    letter-spacing: 1px;
    font-size: 12px;
}

input::placeholder,
textarea::placeholder {
  font-size: 13px; /* 或者你想要的任何颜色值 */
}

/* .searchInput:focus {
    opacity: 1;
} */

.searchEngine {
    height: 35px;
    width: 35px;
    /* border: 1px black solid; */
    border-radius: 10px;
    margin-left: 5px;
    background-color: #2f2f2f;
    color: white;
    outline: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #2f2f2f;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dropdown.open {
    opacity: 1;
    pointer-events: auto;
}

.option {
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    color: white;
}

.option:hover {
    background-color: #45413a
}

.engines {
    width: 20px;
    height: 5px;
}

.suggestionsBox {
    /* width: 35vw; */
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 120px;
    opacity: 0.7;
    flex-wrap: wrap;
    transition: 0.5s;
    display: flex;
    width: 100%;
    background-color: black;
    border-radius: 12px;
}

.suggestions {
    height: 35px;
    width: 861px;
    border: 1px black solid;
    border: 0;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "San Francisco";
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
}


.suggestion {
    font-family: "San Francisco";
    font-size: 13px;
}

.suggestions:hover {
    border-radius: 15px;
    transition: 0.3s;
    background-color: #45413a;
}

.tagsBox {
    margin-top: 130px;
    /* background-color: #2f2f2f; */
    width: 100vw;
    height: 35vh;
    border-radius: 25px;
    caret-color: transparent;
    
}

@media (max-width: 1200px) {
    .tagsBox {
        grid-template-columns: repeat(5, 1fr);
        /* 6列 */
        grid-template-rows: repeat(3, 1fr);
        /* 3行 */
    }
}

@media (max-width: 800px) {
    .tagsBox {
        grid-template-columns: repeat(4, 1fr);
        /* 6列 */
        grid-template-rows: repeat(4, 1fr);
        /* 3行 */
    }
}

@media (max-width: 650px) {
    .tagsBox {
        grid-template-columns: repeat(3, 1fr);
        /* 6列 */
        grid-template-rows: repeat(6, 1fr);
        /* 3行 */
    }
}

.tagBox {

    /* background-color: #212129;  */
    
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mySvg {
    /* background: url("@/assets/svg/search.svg"); */
    background-repeat: none !important;
    background-size: contain;
    margin: 0 10px 0 5px;
    height: 17px;
    width: 17px;

}

.tagBox:hover {

    cursor: pointer;
}

.ico {
    width: 80px;
    height: 50px;
    background-repeat: no-repeat;
    /* background: url("@/assets/ico/cumt.ico");*/
    background-size: contain;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.engineIcon {
    width: 20px;
    height: 20px;

}

@keyframes move-up {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-7px);
    }

    100% {
        transform: translateY(0px);
    }
}

.tagIcon {
    --radius: 8%;
    width: 40px;
    height: 40px;
    border-radius: var(--radius);
}

.tagIcon:hover {
    animation: move-up 1s ease infinite;
    transform: rotate(666turn);
    transition-property: all;
    transition-duration: 59s;
    transition-timing-function: cubic-bezier(.34,0,.84,1);
    transition-delay: 0.5s;
}

.tagName {
    font-size: 14px;
}

#addTag {
    background-color: #2f2f2f;

    opacity: 0.8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addTag::before {
    content: "+";
    color: white;
    font-size: 24px;
    transform: translateY(-2px);

}

.userBox {
    position: fixed;
    top: 130px;
    left: 10px;
    background-color: #2f2f2f;
    height: 68vh;
    width: 40px;
    opacity: 0.7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    caret-color: transparent;
}

.avatarBox {
    /* border-radius: 5px; */
    height: 30px;
    width: 30px;
    margin-top: 4px;
    background-color: #949494;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: flex-start; */
}
.avatar {
    height: 24px;
    width: 24px;
    /* margin-top: 5px; */
    /* background-color: #f1e8e1; */
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    padding: 1px;
    /* justify-content: flex-start; */
}
.avatar:hover {
    transform: rotate(666turn);
    transition-property: all;
    transition-duration: 59s;
    transition-timing-function: cubic-bezier(.34,0,.84,1);
    transition-delay: 0.5s;
}
.filterBox {
    margin-top: 10px;
    height: 76%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.filterBox div {
    margin: 5px;
    height: 25px;
    width: 25px;
    margin-top: 4px;
    background-color: #949494;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionBox {
    height: 30px;
    width: 30px;
    /* margin-top: 4px; */
    margin-bottom: 5px;
    background-color: #949494;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    /* justify-content: flex-end; */
}
.addBox {
    height: 30px;
    width: 30px;
    /* margin-top: 4px; */
    margin-bottom: 5px;
    background-color: #949494;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

}
.addPic {
    padding: 2px;
    height: 24px;
    width: 24px;
    /* margin-top: 5px; */
    /* background-color: #f1e8e1; */
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    padding: 3px;
}
.addPic:hover {
    transform: rotate(666turn);
    transition-property: all;
    transition-duration: 59s;
    transition-timing-function: cubic-bezier(.34,0,.84,1);
    transition-delay: 0.5s;
}
.avatarBox:hover {
transform: translateY(-2px);
}
.bigBox {
    height: 63vh;
}
.ant-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ant-modal-content {
    height: 61vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 400px;
}

.ant-modal-body {
    display: flex;
    flex-direction: column;
    flex:1;
    flex-wrap: wrap;
    height: 20%;
}

.login .ant-input {
    width: 320px;
}

.ant-space-vertical {
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.ant-modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ant-modal .ant-modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.newAdmin {
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.loginTip {
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add .ant-input {
    /* margin-top: 20px; */
    width: 473px;
    /* height: 40px !important; */
}
.addTabBox .ant-modal-content{
    display: flex;
    width: 100%;
    /* align-items: center; */
}
.addTabBox .ant-modal-content .ant-modal-body{
    display: flex;
    width: 100%;
    align-items: center;
    /* align-items: center; */
}

.selectIcon {
    margin-bottom: 45px;
}

.newAdmin div {
    font-size: 12px;
    caret-color: transparent;
    cursor: pointer;
}

.itemsBox {
    margin-top:160px;

}

.itemBox {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    background:none;
    cursor: pointer !important;
    caret-color:transparent;
}
.vue-grid-item {
    background:none !important;
}

.codeInput {

    margin-right: 10px;
}
.codeBox {
    display: flex;
    width: 320px;
    flex-direction: row;
}
.tagIcon:hover {
    transform: rotate(666turn);
    transition-property: all;
    transition-duration: 59s;
    transition-timing-function: cubic-bezier(.34,0,.84,1);
    transition-delay: 0.5s;
}
.contextmenu {
    margin: 0;
    background: #091C24;
    position: fixed;
    list-style-type: none;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    width: 150px;
    padding: 6px 6px;
    border-radius:12px;
    font-size: 12px;
    font-weight: 400;
    color: white;
  }
  li{
    cursor: pointer;
    padding: 12px 9px;
    display: flex;
    align-items: center;
    height: 10px;
    justify-content:space-between;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    transition: all ease 0.5s;
  }
  li:hover{
    background-color: #22333B;
  }
  .imgs{
    display: flex;
    justify-content: right;
  }
li img{
    transition: all ease 0.5s;
    width: 20px;
    height: 20px;
    margin: 0 0 0 5px;
}

li img:hover{
    transform: scale(1.1);
}
.error {
    border-color: red !important;
}
.picBox {
    background-color: #2f2f2f;
    width: 150px;
    height: 65px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    caret-color: transparent;
}
.picBox img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    
    /* overflow: hidden; */
}
.picBox img:hover {
    transform: scale(1.2);
    
  }
.picListBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: center;
    margin: 10px 10px 12px 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-radius: 10px;
}
.ant-drawer-body {
    padding:0;
    display: flex;
    flex-direction: column;

}
.imgsBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.imgBox {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    caret-color: transparent;
    box-sizing: border-box;
    transition: 0.7s;
    /* padding: 1px; */
}
.imgBox img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    transition: 1s;
    cursor: pointer;
    border-radius: 8px;
}
.tip {
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.iconActive {

    background-color: #65a667;
    -webkit-box-shadow: 10px 10px 99px 6px #65a667;
    -moz-box-shadow: 10px 10px 99px 6px #65a667;
    box-shadow: 10px 10px 99px 6px #65a667;

      
}
.tabBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;

}
.tabBox .tab{
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #8b8b8b;
    caret-color: transparent;
    flex-grow: 1;
    font-weight: bold;
    border-bottom: 2px solid #8b8b8b;
    /* font-size: 12px; */
    transition: 0.3s;
}
.tab:hover {
    color: #91caff !important;
    border-bottom: 2px solid #91caff !important;
}
.tabActive {
    color: #91caff !important;
    border-bottom: 2px solid #91caff !important;
    /* background-color: #7392fd; */
}
.ant-drawer-body {
    padding: 0 !important;
    color: #091C24;
}
.changeOptionBox {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
}
.changeOptionBox .ant-slider {
    flex: 1;
}
.optionPage {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 10px 20px 10px;
    border-radius: 10px;
}
.optionMenu {
    background-color: #f1f0f5;
    width: 100%;
    flex: 1;
}
.backgroundOptionTitle {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-indent: 27px;
    font-weight: bold;
}
.optionTitle {
    width: 36%;
}
::-webkit-scrollbar {
    width: 6px;
    display: none;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: inherit;
    background-color: rgba(144, 147, 153, 0.3);
    -webkit-transition: 0.3s background-color;
    transition: 0.3s background-color;
    /* display: none; */
}

.itemBox {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}